body{
    
}
.pull-left {
    float: left!important;
}
.row-5 {
    margin-right: -5px;
    margin-left: -5px;
}
@media (min-width: 1024px)
.verticlealign {
    vertical-align: middle;
}
.pull-left {
    float: left!important;
}
.detail-heading-price {
    padding-left: 10px;
    width: auto;
}
.detail-heading-price .bitcoin-price {
    font-size: 16px!important;
    padding-top: 3px;
    vertical-align: middle;
    display: none;
}
.detail-heading-price .chart-currency-value {
    padding-right: 6px;
    vertical-align: middle;
}
.bitcoin-price {
    margin-top: -4px;
    display: block;
}
.bitcoin-pct {
    color: #555;
    font-size: 18px;
    font-weight: 550;
    display: inline-flex;
}
.coin-detail-search {
    padding-top: 12px;
}
@media (min-width: 1024px)
.titlemiddle {
    display: flex;
    align-items: center;
}
.verticlealign {
    vertical-align: middle;
}
@media (min-width: 992px)
.col-md-8 {
    width: 66.66666667%;
}
